.auth-page {
	margin: 0 auto;
	width: 500px;
	margin-top: 10%;
	padding-bottom: 20px;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.77);
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.77);
}

.auth-page__options {
	width: 100%;
	display: flex;
}

.auth-page__options .change-button {
	flex-basis: 50%;
	border-radius: 0;
}

.error-message {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.header_right {
	display: flex;
	align-items: center;
}
